<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <p>welcome to <%= title %></p>
    <form method="post" action="/users" >
        <input type="text" name="name" />
        <input type="text" name="age"/>
        <input type="submit" value="提交">
    </form>
</body>
</html>